parameters:
    level: 6
    paths:
        - Controller
        - Entity
        - Form
        - Repository
        - Service
        - EcAuthLoginEvent.php
        - EcAuthLoginNav.php
        - PluginManager.php
    excludePaths:
        - vendor
